@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

nav {
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 10;
  background-color: #fff;

  .navContent {
    width: 1000px;
    margin: 18px auto;

    .navInner {
      position: relative;
      @include flex(space-between, center);

      .logoBox {
        width: 200px;
        @include flex(space-between, center);

        img {
          height: 27px;
          padding-right: 15px;
          border-right: 3px solid #000;
        }

        span {
          color: #000;
          font-size: 3.2rem;
          font-family: "Lobster", cursive;
          line-height: 32px;
          padding-left: 10px;
        }
      }

      .searchBox {
        position: relative;
        width: 200px;
        height: 28px;

        .searchImg {
          position: absolute;
          height: 15px;
          left: 30%;
          top: 25%;
        }

        input {
          width: 100%;
          height: 100%;
          border: $mainBorder 1px solid;
          border-radius: 7px;
          font-size: 1.3rem;
          line-height: 13px;
          text-align: center;
          background-color: $mainBC;
        }

        .filterBox {
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 5px;
          border: 1px solid $mainBorder;
          border-radius: 3px;
          margin-top: 3px;
          background-color: #fff;

          /* js - createElement 요소 */
          .filterId {
            width: 90%;
            @include flex(felx-start, center);
            padding: 10px;
            font-size: 1.4rem;
            line-height: 14px;
            background-color: #fff;
            cursor: pointer;
          }

          .filterImg {
            width: 27px;
            height: 27px;
            margin-right: 10px;
            border-radius: 50%;
          }
        }
      }

      .navIcon {
        width: 120px;
        @include flex(space-around, center);

        img {
          height: 25px;
        }

        .navProfile {
          position: relative;

          /* hide */
          .hidemenu {
            position: absolute;
            display: none;
            width: 120px;
            height: 175px;
            padding: 0px;
            background: #fff;
            border: $mainBorder solid 1px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            border-radius: 15px;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 15px;

            &:after {
              position: absolute;
              display: block;
              width: 0;
              z-index: 1;
              top: -15px;
              left: 48px;
              content: "";
              border-style: solid;
              border-width: 0 12px 15px;
              border-color: #fff transparent;
            }

            &:before {
              position: absolute;
              display: block;
              width: 0;
              z-index: 0;
              top: -16px;
              left: 48px;
              content: "";
              border-style: solid;
              border-width: 0 12px 15px;
              border-color: $mainBorder transparent;
            }

            ul {
              display: flex;
              width: 100%;
              height: 100%;
              flex-direction: column;
              justify-content: space-evenly;
              li {
                @include flex(felx-start, center);
                padding: 0 15px;
                font-size: 1.4rem;
                line-height: 14px;

                img {
                  height: 22px;
                  margin-right: 10px;
                }
              }
              .logout {
                border-top: 1px solid #dbdbdb;
                padding-top: 15px;
              }
            }
          }
        }
      }
    }
  }
}

.active {
  display: block;
}

// main
main {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 70px;
  background-color: $mainBC;

  .wrap {
    @include flex(space-between, normal);
    width: 950px;
    margin: 0 auto;

    .feeds {
      width: 62%;

      .post {
        width: 100%;
        margin: 50px 0;
        border: 1px solid $mainBorder;
        border-radius: 5px;
        background-color: #fff;

        .profileInfo {
          @include flex(space-between, center);
          width: 95%;
          height: 65px;
          margin: 0 auto;
          &:hover {
            cursor: pointer;
          }

          img {
            height: 25px;
            &:hover {
              cursor: pointer;
            }
          }

          .user {
            @include flex(flex-start, center);

            .profilePic {
              @include profileSize(
                50px,
                50px,
                2px,
                linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%)
              );
              border-radius: 50%;

              img {
                width: 100%;
                height: 100%;
                border: 2px solid #fff;
                border-radius: 50%;
                object-fit: cover;
              }
            }

            .username {
              font-size: 1.5rem;
              font-weight: 700;
              line-height: 16px;
              margin-left: 7px;
            }

            .userMessage {
              font-size: 1.5rem;
              line-height: 16px;
              margin-left: 7px;
            }
          }
        }

        .mainImg {
          width: 100%;
          height: 500px;
          object-fit: cover;
        }

        .postContent {
          width: 95%;
          margin: 0 auto;
          margin-top: 4px;

          .postIcons {
            height: 40px;
            padding-top: 5px;
            &:hover {
              cursor: pointer;
            }

            ul {
              @include flex(normal, center);

              li {
                margin-right: 16px;

                img {
                  height: 24px;
                  padding: 1px;
                }
              }

              li:last-child {
                margin-right: 0;
              }

              .postSave {
                margin-left: auto;
              }
            }
          }

          .likes {
            @include flex(normal, center);
            margin-bottom: 8px;
            font-size: 1.4rem;
            line-height: 14px;

            .user {
              @include flex(normal, center);
            }

            .profilePic {
              @include profileSize(24px, 24px, 0, none);
              margin-right: 5px;

              img {
                width: 24px;
                height: 24px;
                border: none;
                border-radius: 50%;
              }
            }
            .username {
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 14px;
            }

            p {
              font-size: 1.4rem;
              line-height: 14px;
            }
          }

          .postTextBox {
            display: flex;
            flex-direction: column;

            .postText,
            .comments {
              display: block;
              font-size: 1.4rem;
              line-height: 14px;
              margin-bottom: 8px;
              &:hover {
                cursor: pointer;
              }

              span {
                font-weight: 700;
                margin-right: 7px;
              }

              img {
                width: 14px;
                vertical-align: middle;
                margin-left: 5px;
              }

              .commentLike {
                margin-left: 10px;
              }
            }
          }

          .postDate {
            margin: 15px 0;
            font-size: 1rem;
            line-height: 10px;
          }

          .newComments span {
            display: inline-block;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 14px;
          }
        }
      }

      .commentBox {
        @include flex(space-between, center);
        height: 50px;
        border: none;
        border-top: 1px solid #dbdbdb;

        .newComments {
          width: 90%;
          height: 100%;
          position: relative;

          input {
            width: 100%;
            height: 100%;
            border: none;
            font-size: 1.4rem;
            padding-left: 3px;
            vertical-align: middle;
          }
        }
        img {
          width: 5%;
          margin: 0 auto;
        }
        button {
          position: absolute;
          color: #0095f7;
          right: 12px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 1.4rem;
          line-height: 14px;
          background-color: #fff;
        }
      }
    }
  }
}

// mainRight
.mainRight {
  @include flex(normal, space-around);
  width: 32%;
  flex-direction: column;
  margin-top: 50px;

  .profileInfo {
    margin: 0;
    margin-bottom: 16px;

    .user {
      @include flex(space-between, center);
      width: 170px;

      .profilePic {
        @include profileSize(65px, 65px, 0px, #fff);

        img {
          width: 65px;
          height: 65px;
          border: none;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      .userStatus {
        display: flex;
        flex-direction: column;
        &:hover {
          cursor: pointer;
        }

        .username {
          font-size: 1.6rem;
          line-height: 20px;
          font-weight: 700;
        }

        .userMessage {
          font-size: 1.4rem;
          line-height: 14px;
          font-weight: 500;
        }
      }
    }
  }

  .storyBox,
  .recommend {
    width: 100%;
    padding: 10px 0;
    border: 1px solid $mainBorder;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #fff;

    .innerTitle {
      @include flex(space-between, center);
      width: 90%;
      height: 30px;
      margin: 0 auto;

      h2 {
        color: #8e8e8e;
        font-size: 1.4rem;
        line-height: 14px;
      }

      span {
        font-size: 1.2rem;
        line-height: 12px;
        &:hover {
          cursor: pointer;
        }
      }
    }

    .rightBox {
      width: 90%;
      margin: 8px auto;
      height: 188px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-thumb {
        height: 30%;
        background: #fff;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-track {
        background: #fff;
      }

      .user {
        @include flex(felx-start, center);
        margin-bottom: 8px;

        .profilePic {
          @include profileSize(
            41px,
            41px,
            2px,
            linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%)
          );
          border-radius: 50%;

          img {
            width: 100%;
            height: 100%;
            border: 2px solid #fff;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        .userStatus {
          display: flex;
          flex-direction: column;
          margin-left: 7px;

          .username {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 16px;

            &:hover {
              cursor: pointer;
            }
          }

          .userMessage {
            color: #8e8e8e;
            font-size: 1.2rem;
            line-height: 18px;
          }
        }
      }
      .follow {
        color: #0095f7;
      }
    }
  }
  .asideList {
    display: flex;
    flex-wrap: wrap;
    .asideMenu {
      margin-bottom: 5px;
      font-size: 12px;
    }
  }
}

.mainRight .recommend .rightBox .user {
  @include flex(space-between, center);

  p {
    margin-left: auto;
    font-size: 1.2rem;
    line-height: 12px;
  }

  .profilePic {
    background: none;

    img {
      border: none;
    }
  }
  p,
  span {
    line-height: 16px;
  }
}

/* 1024 */
@media screen and (max-width: 1024px) {
  .navContent {
    width: 700px;
  }

  .wrap {
    width: 750px;
  }

  .feeds {
    width: 64%;
  }

  .mainImg {
    height: 450px;
  }
}

/* 768 */
@media screen and (max-width: 768px) {
  .navInner {
    justify-content: center;
  }

  .logoBox {
    width: 150px;
    justify-content: center;
  }

  .navContent {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding-top: 20px;
  }

  .navIcon {
    display: none;
  }

  .searchBox {
    display: none;

    .mainLogo {
      font-size: 2.6rem;
      line-height: 26px;
    }
  }

  .wrap {
    width: 500px;
  }

  .feeds {
    display: block;
    width: 500px;
    margin: 0 auto;
  }

  .post {
    margin-top: 20px;
  }

  .profileInfo {
    height: 50px;
  }

  .profileInfo > img {
    height: 20px;
  }

  .mainRight {
    display: none;
  }

  .profilePic {
    width: 30px;
    height: 30px;
  }

  .profilePic img {
    border: 1px solid #fff;
  }
}
