@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin profileSize($width, $height, $padding, $background) {
  width: $width;
  height: $height;
  padding: $padding;
  background: $background;
}
